/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.nav-logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links a:hover {
    color: #68D391;
}

.contact-container {
    padding-top: 80px; /* Offset for navbar */
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 250px;
}

.team-member img {
    width: 250px;
    height: 250px;
    border-radius: 80%;
    margin-bottom: 18px;
}

.team-member h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.team-member p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #666;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.social-icons img:hover {
    opacity: 0.8;
}
